<div class="p-6 bg-gray-50 rounded-lg shadow-sm space-y-8">
  <div>
    <h2 class="text-xl font-semibold mb-4">Category</h2>
    <ul class="space-y-2 text-gray-700 text-sm">
      <li class="flex justify-between">
        <span>➤ Prime Investments</span><span>(10)</span>
      </li>
      <li class="flex justify-between">
        <span>➤ ProHome Finders</span><span>(8)</span>
      </li>
      <li class="flex justify-between">
        <span>➤ SmartHouse Agency</span><span>(5)</span>
      </li>
      <li class="flex justify-between">
        <span>➤ Secure Property Partners</span><span>(5)</span>
      </li>
    </ul>
  </div>
</div>

<div>
  <div class="mt-6 p-6 bg-gray-50 rounded-lg shadow-sm space-y-8">
    <h2 class="text-xl font-semibold mb-4">Recent Post</h2>
    <ul class="space-y-3 text-sm text-gray-800">
      <li class="border-b pb-2">
        🗂️ A picture is worth standard and stand us return
      </li>
      <li class="border-b pb-2">🗂️ Your journey homeownership starts here</li>
      <li class="border-b pb-2">🗂️ Trust us to guide you the process</li>
    </ul>
  </div>
</div>
