<!-- Main Content -->
<div class="main-content" id="mainContent">
    <div class="container-fluid">
  
      <!-- Stats Cards -->
      <ng-container *ngIf="dataLoaded">
        <app-stats-cards 
          [listedCount]="listedCount" 
          [bookedCount]="bookedCount" 
          [soldCount]="soldCount"
          [averageRating]="averageRating"
          [givenReviews]="givenReviews"
          [receivedReviews]="receivedReviews">
        </app-stats-cards>
  
        <!-- Stats Charts Section -->
        <div class="row mt-5">
          <!-- Dashboard Chart (Left Side) -->
          <div class="col-md-4">
            <app-dashboard-chart 
              [listed]="listedCount" 
              [booked]="bookedCount" 
              [sold]="soldCount">
            </app-dashboard-chart>
          </div>
  
          <!-- Stats Chart (Right Side) -->
          <div class="col-md-8">
            <app-stats-chart
              [listedCount]="listedCount"
              [bookedCount]="bookedCount"
              [soldCount]="soldCount"
              [givenReviews]="givenReviews"
              [receivedReviews]="receivedReviews">
            </app-stats-chart>
          </div>
        </div>
      </ng-container>
  
    </div>
  </div>
  