<div class="container mt-5">
  <h6 class="gradient-text text-center " id="pro">PROPERTIES</h6>
  <h2 class="text-center title text-2xl font-bold mb-4">
    Easy EstateInvesting in made it lot easy
  </h2>
  <div class="row justify-content-center button-container">
    @for (icon of iconTypes; track icon.type) {
    <div class="col-md-2">
      <button
        class="btn-custom"
        [class.selected]="selectedType === icon.type"
        (click)="onIconClick(icon.type)"
      >
        {{ icon.label }}
      </button>
    </div>
    }
  </div>
</div>


