<section class="banner-four mt-2">
  <div class="banner-four__thumb">
    <img
      src="assets/images/thumbs/banner-four-image.png"
      class="banner-four__thumb"
      alt="banner-four-image"
    />
  </div>
  <img
    src="assets/images/home-shapes/pyramid-shape.png"
    alt="Shape"
    class="banner-four-shape one"
  />
  <img
    src="assets/images/home-shapes/angle-left.png"
    alt="Shape"
    class="banner-four-shape two"
  />
  <img
    src="assets/images/home-shapes/angle-right.png"
    alt="Shape"
    class="banner-four-shape three"
  />
  <div class="banner-four__inner">
    <img
      src="assets/images/home-shapes/banner-four-shape.png"
      class="white-shape"
      alt="Shape"
    />
    <div class="container">
      <div class="banner-four-content">
        <app-banner></app-banner>
      </div>
    </div>
  </div>
</section>
