:root {
    --main-color: rgb(255, 123, 37)    ;
    --secondary-color: #F2D022;
    --background-color: #F2F4F3;
    --text-color: #F9FDFF;
    --navbar-bg: #172940;
}

.navbar {
  margin-top: -.5%;
}
.navbar-brand img {
  width: 80px;
  height: auto;
}

.nav-link {
  color:#172940;
  font-weight: 500;
  margin-right: 15px;
}

#home, .nav-link:hover {
  color: #F77C34;
}

.signupandlogin {
  margin-left: auto;
}
/* Login & Signup Buttons */
.login,.btn-custom:hover {
    background-color: #F2F4F3;
    color: rgb(255, 123, 37)    ;
    border: solid 1px #F77C34;
    transform: skew(-20deg);
    padding: 3px 8px;
    border-radius: 1px;
    transition: all 0.3s ease;
    padding: 6px 13px;
    font-size: small;
    margin-left: 20px !important;
    transition: .5s all;
}
.login:hover {
    background-color: rgb(255, 123, 37)    ;
    color: white;
    transform: skew(-20deg) scale(1.05);
    border-color: #F77C34;
}

.btn-custom {
    background-color: rgb(255, 123, 37)    ;
    color: white;
    border-radius: 1px;
    padding: 3px 8px;
    transform: skew(-20deg);
    transition: all 0.3s ease;
    font-size: small;
}
.btn-custom{
    background-color: rgb(255, 123, 37)    ;
    color: white;
    padding: 6px 13px;
    transform: skew(-20deg) scale(1.05);
}

/* Adjustments for Navbar Buttons in Small Screens */
.signupandlogin {
    margin-left: auto;
}

@media (max-width: 768px) {
    .signupandlogin {
        margin-left: 0;
        margin-top: 15px;
    }
}
