.footer {
    background-color: #172940;
    color: #F9FDFF;
    padding: 40px 0;
    text-align: center;
    margin-top: 5%;
  }
  
  .footer-section h5 {
    color: #F2D022;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .footer-section p, .footer-section a {
    font-size: 14px;
    color: #F9FDFF;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-section a:hover {
    color: #F77C34;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .social-icons a {
    color: #F9FDFF;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
  }
  
  .social-icons a:hover {
    color: #F77C34;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    opacity: 0.7;
  }
  
  .footer-bottom span {
    color: #F2D022;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .footer-section {
      margin-bottom: 20px;
    }
  }