<app-navbar></app-navbar>
<div class="bg-[#F9F9F9] py-10 px-4 sm:px-8 lg:px-16">
  <div class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-3 gap-8">
    <div class="lg:col-span-2 space-y-8">
      @if (propertyId) {
      <app-details-section [propertyId]="propertyId"></app-details-section>
      <app-address-section></app-address-section>
      } @else {
      <div class="text-center text-gray-500">Loading property details...</div>
      }
    </div>
    <div class="space-y-8">
      <app-details-right-section></app-details-right-section>
    </div>
  </div>
</div>
<app-footer></app-footer>
