.sidebar-content {
  padding: 20px;
}

.nav-link {
  color: #ecf0f1;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  transition: background 0.3s;
}

.nav-link i {
  margin-right: 10px;
}

.nav-link:hover {
  background-color: #34495e;
  color: #fff;
}

.support-text {
  color: #bdc3c7;
  font-size: 0.9rem;
  padding: 20px;
}