<div class="container" id="forgot-password-container">
    <!-- Notification Container in top right corner -->
    <div class="notification-top-right" *ngIf="notification.show">
      <div class="notification" [class.error]="notification.isError">
        <span>{{ notification.message }}</span>
        <i class="bi bi-x" (click)="hideNotification()"></i>
      </div>
    </div>
  
    <!-- Forgot Password Form -->
    <div class="form-container">
      <form id="forgotPasswordForm" (ngSubmit)="onForgotPassword()">
        <h1>Reset Your Password</h1>
        <span>Enter your email to receive a password reset link</span>
  
        <div class="input-container">
          <i class="bi bi-envelope"></i>
          <input type="email" id="forgotPasswordEmail" 
                 placeholder="Email" 
                 [(ngModel)]="forgotPasswordEmail" 
                 name="forgotPasswordEmail" required>
        </div>
  
        <button type="submit">Send Reset Link</button>
        
      </form>
      <div class="switch-mode">
        <span>Remember your password?</span>
        <a routerLink="/login" class="switch-a">Sign In</a>
      </div>
    </div>
  </div>