<div class="container mb-5">
    <h6 class="text-center gradient-text text-muted">SERVICES</h6>
    <h2 class="text-center title">Our Best Real-Estate Services</h2>
  
    <div class="row justify-content-around mt-5">
      <div class="col-md-3 col-sm-6 mb-4">
        <div #card class="card real-estate-card"
             (mouseover)="toggleTilt($event)"
             (mouseleave)="resetTilt()"
             (click)="navigateToproperties()"
             style="cursor: pointer;">
          <div class="card-body">
            <i class="fas fa-home real-estate-card-icon"></i>
            <h5 class="card-title2">Buy a Home</h5>
            <p class="card-text2">Find your dream home with our expert Easy Estate services.</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <div #card class="card real-estate-card real-estate-tilted-card" 
             (mouseover)="toggleTilt($event)"
             (mouseleave)="resetTilt()"
             (click)="navigateToAddProperty()">
          <div class="card-body">
            <i class="fas fa-landmark real-estate-card-icon"></i>
            <h5 class="card-title2">Sell a Property</h5>
            <p class="card-text2">Get the best market value when selling your property.</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <div #card class="card real-estate-card"
             (mouseover)="toggleTilt($event)"
             (mouseleave)="resetTilt()"
             (click)="navigateToconsultation()">
          <div class="card-body">
            <i class="far fa-handshake real-estate-card-icon"></i>
            <h5 class="card-title2">Consultation</h5>
            <p class="card-text2">Receive expert advice on your Easy Estate investments.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  