
:root {
    --main-color: #F77C34;
    --secondary-color: #F2D022;
    --background-color: #F2F4F3;
    --text-color: #F9FDFF;
    --navbar-bg: #172940;
}
/* General Styles */
 body {
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
}
